<div class="container">
  <h2>Contact Information</h2>
  <h5>Please fill out your contact information below</h5>
  <form>
    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <label for="first-name">First Name:</label>
          <input type="text" class="form-control" id="first-name" name="first-name" [(ngModel)]="firstName" required>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label for="last-name">Last Name:</label>
          <input type="text" class="form-control" id="last-name" name="last-name" [(ngModel)]="lastName" required>
        </div>
      </div>
    </div>
    <div class="form-group">
      <label for="email">Email:</label>
      <input type="email" class="form-control" id="email" name="email" [(ngModel)]="email" required>
    </div>
    <div class="form-group">
      <label for="phone">Phone:</label>
      <input type="tel" class="form-control" id="phone" name="phone" [(ngModel)]="phone" required>
    </div>
    <div class="form-group">
      <label for="address">Address:</label>
      <textarea class="form-control" id="address" name="address" [(ngModel)]="address" required></textarea>
    </div>
    <!-- <button type="submit" class="btn btn-primary" (click)="submitForm()">Submit</button> -->
    <div class="text-center">
      <button type="submit" class="btn btn-primary btn-center" (click)="submitForm()">Submit</button>
    </div>
  </form>
</div>